# Node modules
node_modules/

# Build output
dist/

# Log files
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE & Editor folders
.vscode/
.idea/

# TypeScript cache and build info
*.tsbuildinfo
